@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.text-shadow-lg {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes carousel {
  0% {
    transform: translateY(0);
  }
  16.66% {
    transform: translateY(-30px);
  }
  33.32% {
    transform: translateY(-60px);
  }
  49.98% {
    transform: translateY(-90px);
  }
  66.64% {
    transform: translateY(-120px);
  }
  83.30% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-180px);
  }
}

.animate-carousel {
  animation: carousel 12s infinite;
}

.animate-carousel:hover {
  animation-play-state: paused;
} 